/********************
    Typography scss
********************/

@font-face {
  font-family: Quicksand-Bold;
  src: url("./Assets/fonts/Quicksand-Bold.ttf");
}

@font-face {
  font-family: Quicksand-Light;
  src: url("./Assets/fonts/Quicksand-Light.ttf");
}

@font-face {
  font-family: Quicksand-Medium;
  src: url("./Assets/fonts/Quicksand-Medium.ttf");
}

@font-face {
  font-family: Quicksand-Regular;
  src: url("./Assets/fonts/Quicksand-Regular.ttf");
}

@font-face {
  font-family: Quicksand-SemiBold;
  src: url("./Assets/fonts/Quicksand-SemiBold.ttf");
}
